<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="settings_sah_integration_view_form" model="ir.ui.view">
            <field name="name">sah.integration.res.company.form</field>
            <field name="model">res.company</field>
            <field name="inherit_id" ref="base.view_company_form"/>
            <field name="arch" type="xml">
                <page name="general_info" position="after">
                    <page  string="Selling at home" id="sellingathome" groups="integration_sah.group_manager">
                        <group>
                            <field name="token_sah"/>
                            <field name="secret_key_sah"/>
                            <field name="date_debut"/>
                            <field name="date_fin"/>
                        </group>
                    </page>
                </page>
            </field>
        </record>

        <record id="view_queue_job_sah_form" model="ir.ui.view">
        <field name="name">queue.job.sah.form</field>
        <field name="model">queue.job</field>
        <field name="priority">99</field>
        <field name="inherit_id" ref="queue_job.view_queue_job_form"/>
        <field name="arch" type="xml">
            <field name="uuid" position="before">
                <field name="commande_sah_id" readonly="1" force_save="1"/>
            </field>
         </field>
        </record>
    </data>
</odoo>